@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "variable.css";
@import "reset.css";

/* Components */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/nav-bar.css";
@import "components/dot.css";

/* Screens */
@import "screens/login.css";
@import "screens/home.css";
@import "screens/search-screen-header.css";
@import "screens/search.css";
@import "screens/video.css";
@import "screens/shop.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
  padding: 0px 10px;
}
