.login-header {
  display: flex;
  justify-content: center;
  margin-top: 160px;
  font-family: fantasy, Open Sans, sans-serif;
  font-size: 70px;
  text-align: center;
  align-items: center;
  margin-bottom: 80px;
}

.login-header span {
  color: var(--outcolor);
}

.login-main {
  margin: 0px 15px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form input {
  width: 92%;
  padding: 20px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

#login-form input:focus {
  border-color: skyblue;
  outline: 0;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

#login-form input:nth-child(2) {
  margin-top: 18px;
  margin-bottom: 30px;
}

#login-form input[type="submit"] {
  border: none;
  margin-top: 30px;
  background-color: #9acaf7;
  color: white;
  margin-bottom: 70px;
  font-size: 18px;
  padding: 14px;
  width: 98%;
}

#login-form input[type="submit"]:hover {
  background-color: var(--butterfly);
}

/* need solution */
.login-form__forgot {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.login-form__forgot a:hover {
  color: var(--butterfly);
}

.login-form__forgot a {
  text-decoration: none;
  color: skyblue;
}

.login-form__continue {
  margin-bottom: 50px;
  color: skyblue;
  text-decoration: none;
}

.login-form__continue:hover {
  color: var(--butterfly);
}

.login-form__or {
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}

.login-form__or div {
  width: 40vw;
  height: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.login-form__sign-up {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.login-form__sign-up a {
  text-decoration: none;
  color: skyblue;
}

.login-form__sign-up a:hover {
  color: var(--butterfly);
}

.login-footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 120px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
}
